.lang-pl {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  z-index: 9999;
}

.flag-pl {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    #ffffff 50%,
    #dc143c 50%
  );
}
